@tailwind base;
@tailwind components;
@layer components {
    .normalButton {
        @apply text-pink-300 bg-black px-3 py-1;
    }

    .tag {
        @apply bg-pink-200 dark:bg-blue-300
        hover:bg-pink-300 dark:hover:bg-blue-400
        text-gray-700 rounded-xl px-2 mb-3 inline-block cursor-default;
    }
}

@tailwind utilities;

body {
    @apply
    text-gray-700
    bg-white
    duration-200
}

[data-theme="dark"] body {
    @apply
    bg-slate-900
    duration-200
    text-gray-300
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e9e2e243;
}

::-webkit-scrollbar-thumb {
    background: #e1ddddc7;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cecacac7;
}