@tailwind base;
@tailwind components;
@layer components {
    .tag {
        @apply bg-blue-400 rounded-xl px-2 inline-block hover:bg-blue-300;
    }
}
@tailwind utilities;

body {
    @apply
    bg-pink-100
    duration-200
}

[data-theme="dark"] body {
    @apply
    bg-slate-900
    duration-200
    text-white
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e9e2e243;
}

::-webkit-scrollbar-thumb {
    background: #e1ddddc7;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cecacac7;
}