@tailwind base;
@tailwind components;
@layer components {
    .normalButton {
        @apply text-pink-300 bg-black px-3 py-1;
    }

    .linkStyle {
        @apply text-sm font-bold bg-black text-white dark:bg-white dark:text-black
        px-3 py-1 rounded hover:opacity-80 dark:hover:opacity-90
    }

    .tag {
        @apply bg-pink-200 dark:bg-blue-300
        hover:bg-pink-300 dark:hover:bg-blue-400 duration-200
        text-gray-700 rounded-xl px-2 mb-3 inline-block cursor-default;
    }
    body{
        font-family: "Noto Sans SC", sans-serif;
    }
}

@tailwind utilities;

body {
    @apply
    text-gray-600
    bg-white
    duration-200
    box-border
}

[data-theme="dark"] body {
    @apply
    bg-slate-900
    text-gray-300
}

@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-Thin.ttf') format('truetype');
    font-weight: 100; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-Light.ttf') format('truetype');
    font-weight: 300; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-Medium.ttf') format('truetype');
    font-weight: 500; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-Bold.ttf') format('truetype');
    font-weight: 700; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC-ExtraLight.ttf') format('truetype');
    font-weight: 800; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans SC";
    src: url('/fonts/noto/NotoSansSC.ttf') format('truetype');
    font-weight: 900; /* Regular */
    font-style: normal;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e9e2e243;
}

::-webkit-scrollbar-thumb {
    background: #e1ddddc7;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cecacac7;
}