.head {
    height: 250px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.head::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../../public/introduce_bg.jpg");
    background-size: cover;
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: 0 0;
}